body{background: black; background-color: black; color: white; margin: 0; font-family: 'Inter', sans-serif;}
.container{margin: 20px 50px;}
h1 {text-align: center;font-size: 100px;}
button#fetch_data {
    text-align: center;
    font-size: 20px;
    height: 45px;
    width: 30%;
    position: relative;
}
.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 36%;
    width: 90%;
   
}



